@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #16213E;
}

body {
    box-sizing: border-box;
    font-size: 24px;
}

.main {
    
}

.shop-name {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: #E94560;
    height: 100vh;
    font-size: 4rem;
}

.container {
    border: #fff solid;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px; 
    max-width: 100%;
    margin: 0 auto;
    padding: 50px;
}


p {
    width: 500px;
    color: #fff;
    padding: 50px;
}

.ersa {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
